body {
  margin: 0;
  background-color: rgb(231, 231, 231);
  display: flex;

  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}

header {
  background-image: url("images/glitter-textured-dark-red-background-wallpaper-abstract-shining-light-curving-bending-feel-web-phone-137576355.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(168, 36, 82);
  height: 400px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

header nav {
  height: 4rem;
  align-self: flex-start;
}

.content .meet-our-team {
  align-self: center;
  background-color: white;
  height: 400px;
  display: flex;

  text-align: center;
  flex-direction: column;
}

.content .meet-our-team hr {
  width: 20%;
  color: rgba(0, 0, 0, 0.4);
}

.team-members {
  display: flex;
  flex-direction: row;
}

.team-member img {
  border-radius: 100rem;
  width: 150px;
  justify-content: space-around;
}

.team-member p {
  color: rgba(0, 0, 0, 0.4);
}

h4 {
  color: rgba(0, 0, 0, 0.6);
}

.gallery {
  background-color: rgb(242, 242, 242);
  height: 290px;
}
.gallery-wrapper {
  padding-top: 3rem;
  display: grid;
  width: 100%;
  grid-template-columns: 30px auto 30px;
}

.gallery-wrapper div {
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-wrapper div.images {
  justify-content: center;
  gap: 2rem;
}

.gallery-wrapper div.images img {
  width: 140px;
  height: 140px;
}

.contact-us {
  background-color: rgb(182, 27, 80);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 500px;
}

.contact-us h2 {
  color: white;
  margin: 0;
}

.contact-us hr {
  width: 100px;
  color: white;
}

.contact-us div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-wrapper .left {
  width: 450px;
  padding: 1rem;
  grid-template-rows: 2fr 2fr 5fr 2fr;
  grid-template-columns: 100%;
  gap: 0.5rem;
}

.contact-wrapper .right {
  width: 450px;
  grid-template-rows: 6fr 1fr 1fr;
  grid-template-columns: 100%;
  gap: 0.5rem;
}

.contact-wrapper .right img {
  width: 300px;
  height: 300px;
}


footer {
  background-color: rgb(39, 39, 39);
  color: white;
  height: 300px;
}

.copyright {
  background-color: rgb(35, 35, 35);
  text-align: center;
  padding: 10px 0 10px 0;
}
